 <h3> Partiers</h3>
    <ul class="list-group">
    <% LastNight.where(party_id: @party.id).order(:brew_count => :desc).each do |last_night|%>
      <li class="list-group-item">
        <span class="badge"><%= last_night.brew_count %></span>
        <%= last_night.drinker.name %>
      </li>
    <% end %>
    </ul>
