<div class="jumbotron">
<h1>Available Parties</h1>
<ul>
	<% Party.all.each do |party| %>
	<li>
		<p><%= party.name %></p>
		<form action="/party/go" method="post">
			<input type="hidden" name="party_id" value="<%= party.id %>">
			<input type="submit" value="Go to Party" class="btn btn-default">
		</form> <br> 
			<form action="home/delete/<%= party.id %>" method="post">
				<input type="submit" value="delete" class="btn btn-danger">
			</form>
	</li>
</ul>
<% end %>
<br><br>
</div>
<div class="jumbotron" style="text-align:center">
<h3>Create a Party</h3>
<form action="/home/create" method="post">
	<input type="text" name="name" placeholder="Name"><br>
	<input type="text" name="location" placeholder="Location"><br>
	<input type="submit" class="btn btn-default" value="Make!">
</form>
</div>