
<div class="jumbotron" style="text-align: center; margin-top: 60px;">

  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>

  <form id="sign-in" method="post" action="/sessions">
    <p><input type="email" name="email" placeholder="Email" value="<%= @email %>"></p><br>
    <p><input type="password" name="password" placeholder="Password"></p>
    <br>
    <div class="submit"><input type="submit" value="Sign In" class="btn btn-default btn-lg btn-block"></div>
    <br><p>or</p>
    <p><a href="/users/new">Sign Up</a></p>
  </form>

</div>
