
<div class="jumbotron vcenter" style="text-align: center;">
  <h1>Sign In</h1>

  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>

  <form id="sign-in" method="post" action="/sessions">
    <p><input type="email" name="email" placeholder="Email" value="<%= @email %>"></p><br>
    <p><input type="password" name="password" placeholder="Password"></p>
    <br>
    <div class="submit"><input type="submit" value="Sign In" class="btn btn-primary btn-lg"></div>
    <p><a href="/sign_up">Sign Up</a></p>
  </form>

</div>
