

  <div id="errors"><%= erb :_model_errors, :layout => false, :locals => { :model => @user } %></div>

<div class="jumbotron" style="margin-top: 60px; text-align: center;">
   <h1>Sign Up</h1><br>
  <form id="sign-up" method="post" action="/users">

    <p><input type="text" name="user[name]" placeholder="Partiername" value="<%= @user.name %>">
    <span id="name-errors" class="errors"></span></p>
    <br>

    <p>
    <input type="email" name="user[email]" placeholder="Email" value="<%= @user.email %>">
    <span id="email-errors" class="errors"></span></p>
    <br>

    <p><input type="password" name="user[password]" placeholder="Password">
    <span id="entered_password-errors" class="errors"></span></p>
    <br>

    <div class="submit"><input class="btn btn-default btn-lg" type="submit" value="Sign Up"></div>
  </form>
</div>


